https://medium.com/analytics-vidhya/how-to-scrape-a-table-from-website-using-python-ce90d0cfb607

In [1]:
# Import library
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
# Define URL
url = 'https://dbkpop.com/db/k-pop-girlgroups/'
# Ask hosting server to fetch url
requests.get(url)

pages = requests.get(url)
# parser-lxml = Change html to Python friendly format
soup = BeautifulSoup(pages.text, 'lxml')
#soup

# Obtain information from tag <table>
table1 = soup.find('table', id='table_1')

# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
 title = i.text
 headers.append(title)

# Create a dataframe
mydata = pd.DataFrame(columns = headers)

# Create a for loop to fill mydata
for j in table1.find_all('tr')[2:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(mydata)
 mydata.loc[length] = row

mydata.drop(['Profile'], axis=1, inplace=True)
mydata.to_csv('data/kpop_gg.csv', index = False)

In [7]:
# Define URL
url = 'https://dbkpop.com/db/k-pop-boybands/'
# Ask hosting server to fetch url
requests.get(url)

pages = requests.get(url)
# parser-lxml = Change html to Python friendly format
soup = BeautifulSoup(pages.text, 'lxml')
#soup

# Obtain information from tag <table>
table1 = soup.find('table', id='table_1')

# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
 title = i.text
 headers.append(title)

# Create a dataframe
mydata = pd.DataFrame(columns = headers)

# Create a for loop to fill mydata
for j in table1.find_all('tr')[2:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(mydata)
 mydata.loc[length] = row

mydata.drop(['Profile'], axis=1, inplace=True)
mydata.to_csv('data/kpop_bg.csv', index = False)

In [28]:
# Define URL
url = 'https://dbkpop.com/db/all-k-pop-idols/'
# Ask hosting server to fetch url
requests.get(url)

pages = requests.get(url)
# parser-lxml = Change html to Python friendly format
soup = BeautifulSoup(pages.text, 'lxml')
#soup

# Obtain information from tag <table>
table1 = soup.find('table', id='table_1')

# Obtain every title of columns with tag <th>
headers_init = []
for i in table1.find_all('th'):
 title = i.text.strip(' ')
 headers_init.append(title)

headers = []
unique_headers = [headers.append(x) for x in headers_init if x not in headers]

# Create a dataframe
mydata = pd.DataFrame(columns = headers)

# Create a for loop to fill mydata
for j in table1.find_all('tr')[2:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(mydata)
 mydata.loc[length] = row


mydata.drop(['Profile'], axis=1, inplace=True)
mydata.to_csv('data/kpop_all_idols.csv', index = False)
mydata

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,,160,44,Jeonju,"TTS, Oh!GG",,F,"Leader, Main Vocalist",taeyeon_ss,
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,,158,43,California,,,F,,svnnynight,
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,San Francisco,TTS,,F,,xolovestephi,
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,,158,48,Incheon,,,F,,watasiwahyo,
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,,167,45,Goyang,,,F,,yulyulk,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,Minji,Kim Minji,김민지,민지,2004-05-07,NewJeans,South Korea,,169,0,Yeongwol,,,F,,,
1662,Hanni,Pham Ngoc Han,팜응옥헌,하니,2004-10-06,NewJeans,Vietnam,,162,0,Melbourne,,,F,,,
1663,Danielle,Mo Jihye,모지혜,다니엘,2005-04-11,NewJeans,South Korea,Australia,165,0,Munsan,,,F,,,
1664,Haerin,Kang Haerin,강해린,해린,2006-05-15,NewJeans,South Korea,,165,0,Gimcheon,,,F,,,
1665,Hyein,Lee Hyein,이혜인,혜인,2008-04-21,NewJeans,South Korea,,170,0,Incheon,,,F,,,

In [27]:
headers

['Profile',
 'Stage Name',
 'Full Name',
 'Korean Name',
 'K. Stage Name',
 'Date of Birth',
 'Group',
 'Country',
 'Second Country',
 'Height',
 'Weight',
 'Birthplace',
 'Other Group',
 'Former Group',
 'Gender',
 'Position',
 'Instagram',
 'Twitter']